.home
  &__slider
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    height: 100vh
    background: url('../img/slider/slider1.png') no-repeat
    background-size: cover
    background-position: 0 80px
    padding-top: 80px
  &__title
    max-width: 850px
    margin: auto
    font-family: 'Exo 2', sans-serif
    font-style: normal
    font-weight: bold
    font-size: 56px
    line-height: 120%
    text-align: center
    text-transform: uppercase
    color: #FCFAFA
  &__subtitle
    max-width: 850px
    margin: auto
    font-family: 'Exo 2', sans-serif
    font-style: normal
    font-weight: 300
    font-size: 16px
    line-height: 141%
    text-align: center
    color: #FCFAFA
  &__button
    margin: auto
    width: 240px
    height: 50px
    border-radius: 5px
    background-color: #F29F05
    border: none 
    font-family: 'Exo 2', sans-serif
    font-style: normal
    font-weight: bold
    font-size: 14px
    line-height: 158.49%
    text-align: center
    letter-spacing: 0.04em
    text-transform: uppercase
    color: #FCFAFA